.h1-block{
    font-size: 40px;
    font-weight: 600;
}

.RED {
    color:red;
}

.BOLD {
    font-weight: bold;
}

.UNDERLINE {
    text-decoration: underline;
}

.main_container{
    padding: 20px;
}

.heading{
    font-size: 24px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.name{
    color: #ae2a2a;
    font-weight: 500;
}

.button{
    padding: 6px 14px;
    border: 1px solid #ae2a2a ;
    border-radius: 6px;
  font-size: 16px;
  background-color: #ae2a2a;
  color: white;
}

.download_resume{
    font-size: 12px;
    margin-left: 20px;
    color: black;
}